body {
    margin: 0px;
    padding: 0;
    font-size: 14px;
    font-family: Nunito-Regular;
    background-image: url('../resources/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 12px;
    background-color: #ffffff;
    overflow: hidden;
}

li {
    margin-top: 4px;
    margin-bottom: 4px;
}

ul {
    margin-left: -40px;
    margin-top: 0px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.link-1 {
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
}

    .link-1:hover {
        color: #ffffff;
        background-color: #78a1fc;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

.link-2 {
    color: #3b3b3b;
}

    .link-2:hover {
        color: #ffffff;
        background-color: #78a1fc;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

.ListTitle
{
    margin-top: 15px;
}

.ListTitleTop
{
    margin-top: 0px;
}

.Hello {
    font-size: 15px;
    color: white;
    margin: 0;
}

    .Hello:hover {
        color: #7a63b8;
    }


.HtmlCV {
    font-weight: bold;
    color: #0c0c26;
}