.SessionLabel
{
    height: 30px;
    margin: 30px 20px 5px 20px;
    display: flex;
    align-items: center;
}

.SessionIcon
{
    width: auto;
    height: 90%;
    margin-right: 7.5px;

    filter: sepia(100%) saturate(900%) brightness(10%) hue-rotate(180deg);
}

.SessionText
{
    font-size: 20px;
    font-family: Nunito-Black;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 2px;
    color: #0c0c26;
}

.ContentText 
{
    margin: 0px 20px 5px 40px;
    line-height: 20px;
    color: #0c0c26;
}