#left {
    width: 34%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../resources/blur pane 2a.jpg');
    object-fit: contain;
    border-radius: 10px 0 0 10px;
    color: white;
}

.profile-pic-container 
{
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border: 0px solid #b4b4b4;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#name {
    font-size: 20px;
    font-family: Nunito-Bold;
    font-weight: 666;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

#line {
    height: 4px;
    width: 150px;
    background-color: #b4b4b4;
    border-radius: 10px;
    margin: 10px auto 20px auto;
}

.contact {
    color: #b4b4b4;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left-section {
    margin-left: 15px;
}

.left-h1 {
    font-size: 18px;
    font-family: Nunito-Bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #d8d8d8;
}

.left-list {
    color: #b4b4b4;
}

.icon-text-container 
{
    margin-left: 20px;
    display: flex;
    align-items: center; /* Center the icon and text vertically */
}

.icon {
    width: 25px; /* Set the width of the icon */
    height: auto; /* Maintain the aspect ratio of the icon */
    margin-right: 10px; /* Space between the icon and the text */
}

.text {
    font-weight: bold;
    font-size: 18px; /* Set the font size of the text */
}