.PositionField
{
    background-color: #0c0c26;
    margin: 20px 0 0 0;
    padding: 5px 0 5px 0;
}

.TextField
{
    margin: 0 0 0 20px;
    padding: 0px;

    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}

.NameText
{
    font-size: 25px;
}

.PositionText
{
    font-size: 20px;
}