.ProjectList
{
    margin: 0 20px 0 10px;
    padding: 0 0 0 50px;
}

.ProjectBold
{
    font-weight: bold;
}

.ProjectTitle
{
    color: black;
}

a.ProjectTitle:hover
{
    color: #7a63b8;
}

.ProjectText
{
    margin: 0 0 0 40px;
}